/*
* VERTICAL DISPLAY
*/

.vertical-parent {
	position: relative;
	display: table;
	width: 100%;
	height: 100%;
}

.vertical-align {
	display: table-cell;
	vertical-align: middle;
}

.vertical-align.aligt-t {
	vertical-align: top;
}

.vertical-align.aligt-b {
	vertical-align: bottom;
}

/*
* INLINE BLOCK
*/

.inlineBlock-parent > * {
	display: inline-block;
	vertical-align: middle;
}

.inlineBlock-parent.align-t > * {
	vertical-align: top;
}

.inlineBlock-parent.align-b > * {
	vertical-align: bottom;
}

.inlineBlock-parent.center-align > * {
	text-align: center;
}
